*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.main{
  width: 100%;
  background-color: black;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}
.card{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  background-color:white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top{
  height: 50px;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
}
.amazon-logo{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}
.top button{
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.center{
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 300px;

}
.center span{
  font-size: 16px;
  color: rgb(68, 64, 64);
}
.center .time{
  display: flex;
  gap: 10px;
  padding: 10px 0px;
}
.bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  
}
.bottom button{
  height: 35px;
  width: 60px;
  background-color: black;
  color: white;

}