*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: white;


}
.start{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 200px;
      
}
.forms{
  height: 370px;
  width: 500px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left,rgba(13, 13, 233, 0.718),rgba(236, 17, 17, 0.536));
  gap: 20px;
  padding: 30px 10px;

}

form{
  display: flex;
  flex-direction: column;
  gap: 25px;

}
form input{
  width: 100%;
  height: 38px;
  border-radius: 8px;
  padding: 0px 10px;
  
}
form button{
  height: 40px;
  width: 90px;
  background-color: rgb(113, 98, 229);
  margin-left: 200px;
  font-size: 15px;
  font-weight: 700;
}
h1{
  font-size: 30px;
  text-align: center;
}
span{
  font-size: 20px;
  color: red;
}
h2{
  font-size: 20px;
  text-align: center;
}
